/* ------------ VARIABLES ------------ */
:root {
  --white-color: #fff;
  --purple-color: #6061A1;
  --black-color: #000;
}


/* ------------ GENERAL ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: all 0.5s;
}


/* ------------ NAVBAR ------------ */

.navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-dark  {
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6))
}

.navbar-brand {
  width: 400px;
  height: 80px;
}

.nav-link {
  color: var(--white-color);
}

.nav-link:hover {
  color: var(--black-color);
  background-color:var(--white-color) ;
  border-radius: 5px;
  padding: 0;
}


.navbar-togller {
  padding: 1px 5px;
  font-size: 18px;
  line-height: .3;
  background: var(--white-color);
}

.dropdown-menu.show {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

.dropdown-item {
  color: var(--white-color);
}

.w-100 {
  height: 100vh;
}

/* ------------ Header Video ------------ */

.header-video-AboutUs {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-video-AboutUs h1 {
  color: var(--white-color);
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
}

.container-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

.container-video video {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  transform: translate(-50%);
}

/* Services Software Development */

.services {
  color: var(--white-color);
  padding: 0;
}

.content-servicesbx-description {
  opacity: 0.8;
  margin: 2em 0;
}

.bottom-servicesbx {
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 0.6em 3.5em;
  margin: auto;
  opacity: 0.8;
  color: var(--black-color);
  background: var(--white-color);
  text-decoration: none;
  border-radius: 50px;
  font-size: 0.9em;
  transition: all .25s;
}

.bottom-servicesbx:hover {
  background: var(--black-color);
  color: var(--white-color);
}

.content-servicesbx-title {
  font-weight: 600;
  font-size: 3em;
}

.content-services-ml {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/softwareD.jpg);
}

.content-servicesbx {
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: auto;
}

/* Services Cloud */

.content-services-cloud {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/cloudComputing.jpg);
}

/* Services Business Intelligence */

.content-services-businessI {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/bussinesInteligence.jpg);
}

/* Services Meta */

.content-services-meta {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/metaverses2.jpg);
}

/* Services Blockchain*/

.content-services-blockchain {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/blockchain.jpg);
}

/* Services web */

.content-services-web {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/web3S.jpg);
}

/* Services Artificial Intelligence*/

.content-services-AI {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/ArtificialI.jpg);
}

/* Services Machine Learning*/

.content-services-machineL {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/machineLearning.jpg);
}

/* Services Augmented reality*/

.content-services-AR {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/AReality.jpg);
}

/* Services Industry 5.0*/

.content-services-Industry5 {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/industry-5.jpg);
}

/* Services Big Data*/

.content-services-bigData {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  text-align: left;
  background: center fixed url(../Img/services/bigData2.jpg);
}

/* ------------ Footer ------------ */
.icon-img-footer {
  width: 30px;
  height: 30px;
}


@media only screen and (min-width: 480px) and (max-width: 780px) {

}

@media only screen and (max-width:480px) {

  /* ------------ NAVBAR ------------ */

  .navbar-nav{
    text-align: center;
  }

  .navbar-brand {
    width: 180px;
    height: 40px;
  }

  .navbar .container {
    justify-content: space-around;
  }

  .dropdown-menu.show {
    text-align: center;
  }
}
